body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);

  height: 100vh;

}


img {
  float: right;
  mix-blend-mode: multiply;

}

h1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 75px;
  color: white;

}

h2 {
  color: white;
  margin: 0;

}


h1 span {
  color: hsl(277, 64%, 61%);
}
 td p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 11px;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
}

table {
  width: 100%;
}

.paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 35px;
  margin-bottom: 85px;
  margin-right: 8px;
}

.attribution { color:  hsla(0, 0%, 100%, 0.6); font-size: 11px; text-align: center; margin-top: 25px;}
.attribution a { color: hsl(228, 45%, 44%); }

.main {
  background-color: hsl(277, 64%, 61%);
  width: 1110px;
  height: 446px;
}

.textbox {
  background-color: hsl(244, 38%, 16%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  display: inline-block;
  width: 400px;
  height: 446px;
  padding-left: 75px;
  padding-right: 95px

}
